/* ===================== Global ===================== */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css");

:root {
  --primary: #4fd1c5;
  --primary-hover: #38b2ac;
  --second-hover: #e2e8f0;
  --bg: #eef2f6;
  --section: #fafafa;
  --white: #ffffff;
  --muted: #a0aec0;
  --dark: #2d3748;
  --border: #e8eef2;

  /* chart & noti */
  --success: #48bb78;
  --warning: #f6ad55;
  --danger: #f56565;
  --info: #63b3ed;
  --chart-2: #a0aec0;
  --chart-3: #647acb;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  background: var(--bg);
  -webkit-font-smoothing: antialiased;
}

/* ===================== FONT SIZE ===================== */
.fs-small {
  font-size: 13px;
}

/* ===================== LOADING ===================== */
#loading-screen {
  position: fixed;
  inset: 0;
  background: var(--white);
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  transition: opacity 0.5s ease;
}

.spinner {
  border: 5px solid #eee;
  border-top: 5px solid var(--primary);
  border-radius: 50%;
  width: 64px;
  height: 64px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

/* ===================== PAGE FADE ===================== */
.fade-page {
  opacity: 0;
  transform: translateY(12px);
  transition: opacity 0.7s ease, transform 0.7s ease;
}

.fade-page.loaded {
  opacity: 1;
  transform: translateY(0);
}

/* ===================== LOADING SKELETON ===================== */
.skeleton {
  background-color: var(--second-hover);
  border-radius: 4px;
  opacity: 0.6;
  height: 100%;
  position: relative;
}

.skeleton-loader.skeleton-shimmer {
  position: relative;
  overflow: hidden;
  height: 100%;
}

.skeleton-shimmer::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transform: translateX(-100%);
  background-image: linear-gradient(90deg,
      rgba(255, 255, 255, 0) 0,
      rgba(255, 255, 255, 0.4) 20%,
      rgba(255, 255, 255, 0.7) 60%,
      rgba(255, 255, 255, 0));
  animation: shimmer 1.5s infinite;
}

@keyframes shimmer {
  100% {
    transform: translateX(100%);
  }
}

/* Ẩn nội dung thực khi skeleton hiển thị */
.data-card.loading .card-content,
.section-card.loading .card-content {
  display: none;
}

/* Hiện Skeleton khi đang tải */
.data-card .skeleton-loader,
.section-card .skeleton-loader {
  display: none;
}

.data-card.loading .skeleton-loader,
.section-card.loading .skeleton-loader {
  display: block;
}

/* ===================== SIDEBAR COMPONENT ===================== */
.sidebar {
  width: 220px;
  height: 100vh;
  background: var(--bg);
  padding-top: 20px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  overflow-y: scroll;
}

/* Thanh cuộn */
.sidebar::-webkit-scrollbar {
  width: 4px;
}

.sidebar::-webkit-scrollbar-track {
  background: var(--bg);
  border-radius: 10px;
}

.sidebar::-webkit-scrollbar-thumb {
  background-color: var(--primary);
  border-radius: 10px;
  border: 1px solid var(--bg);
}

.sidebar::-webkit-scrollbar-thumb:hover {
  background-color: var(--primary-hover);
}

/* Sidebar header */
.sidebar-header {
  display: flex;
  align-items: center;
  padding: 0 10px 10px 16px;
  border-bottom: 1px solid var(--border);
  margin-bottom: 15px;
  letter-spacing: 0.8px;
}

.logo-sidebar {
  width: 45px;
  height: auto;
}

.app-title {
  font-weight: 600;
  color: var(--dark);
  font-size: 18px;
}

/* Menu Items */
.sidebar-menu {
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu-item {
  margin-bottom: 10px;
}

.menu-link {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: var(--muted);
  padding: 14px 15px;
  /* border-radius: 10px; */
}

.menu-icon-bg {
  width: 30px;
  height: 30px;
  background-color: var(--white);
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 15px;
}

.menu-icon-bg i {
  color: var(--primary);
  font-size: 12px;
}

.menu-item:hover>.menu-link {
  background-color: var(--second-hover) !important;
  color: var(--dark) !important;
  box-shadow: 0 4px 6px rgba(79, 209, 197, 0.3);
}

.menu-item:hover>.menu-link .menu-icon-bg i,
.menu-item.active>.menu-link .menu-icon-bg i {
  color: var(--white) !important;
}

.menu-item:hover>.menu-link .menu-icon-bg,
.menu-item.active>.menu-link .menu-icon-bg {
  background-color: var(--primary);
}

.menu-item.active>.menu-link {
  /* background-color: var(--white) !important; */
  color: black !important;
  font-weight: 550;
  /* box-shadow: 0 4px 6px rgba(79, 209, 197, 0.3); */
}

.menu-link span {
  flex-grow: 1;
}

/* Toggle Icon */
.toggle-icon {
  font-size: 11px;
  color: var(--muted);
  transition: transform 0.2s ease;
}

/* Mũi tên trắng khi menu cha active HOẶC hover */
.menu-item:hover>.menu-link .toggle-icon,
.menu-item.active>.menu-link .toggle-icon {
  color: var(--dark) !important;
}

.menu-link.collapsed .toggle-icon {
  transform: rotate(180deg);
}

/* submenu */
.submenu {
  list-style: none;
  padding: 0;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-out;
}

.submenu-item a {
  display: block;
  text-decoration: none;
  color: var(--muted);
  padding: 8px 15px 8px 55px;
  font-size: 15px;
  margin-top: 18px;
  /* background-color: red; */
}

.submenu-item a:hover {
  color: var(--primary);
  background-color: var(--bg);
}

/* Class để mở submenu */
.submenu.show {
  max-height: 500px;
}

/* ===================== APP-HEADER ===================== */
#app-header .overview-banner {
  padding: 24px;
  background-color: var(--primary);
  position: relative;
  height: auto;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.overview-banner::before {
  content: "";
  position: absolute;
  inset: 0;
  background: url("/assets/images/Wave.png") no-repeat;
  background-size: 1800px auto;
  background-position: center 72%;
  opacity: 1;
  mix-blend-mode: overlay;
  transform: rotate(180deg);
}

.overview-banner::after {
  content: "";
  position: absolute;
  inset: -100px;
  background: url("/assets/images/Wave.png") no-repeat;
  background-size: 1800px auto;
  background-position: 70% 80%;
  opacity: 1;
  mix-blend-mode: overlay;
  transform: rotate(-8deg);
}

/* Top nav */
.top-row {
  width: 100%;
  z-index: 2;
}

.top-row .page-title {
  /* font-size: 18px; */
  color: var(--white);
  position: relative;
}

/* search */
.search {
  position: relative;
}

.search .form-control {
  padding-top: 6.4px;
  padding-bottom: 6.4px;
  font-size: 16px;
  padding-left: 38px;
  min-width: 250px;
  width: 250px;
  border-radius: 50px;
  border: 1px solid var(--bs-border-color, #E0E0E0);
  box-shadow: none;
  outline: none;
  transition: width 0.3s ease-in-out,
    border-color 0.3s ease-in-out,
    box-shadow 0.3s ease-in-out;
}

.search .search-icon {
  top: 50%;
  left: 0.85rem;
  transform: translateY(-50%);
  z-index: 2;
  pointer-events: none;
  font-size: 0.9rem;
  color: var(--muted);
  transition: color 0.3s ease-in-out;
}

.search:focus-within .form-control {
  width: 30vw;
  border-color: var(--primary);
  box-shadow: 0 0 0 0.2rem rgba(var(--primary-rgb), 0.15);
}

.search:focus-within .search-icon {
  color: var(--primary);
}

/* icon */
.nav-icons {
  gap: 30px;
}

.icon-btn {
  font-size: 20px;
  cursor: pointer;
  transition: color 0.2s;
  color: var(--white);
  position: relative;
}

.icon-btn:hover {
  color: #DDDDDD;
}

.nav-avatar {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  object-fit: cover;
  position: relative;
}

.badge-dot {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 6px;
  height: 6px;
  background-color: var(--danger);
  border-radius: 50%;
  z-index: 3;
}

/* date-filter-row */
.date-filter-row {
  z-index: 2;
  position: relative;
}

.date-range-picker {
  background-color: var(--white);
  border-radius: 50px;
  padding: 8px 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
  display: inline-flex;
  align-items: center;
  gap: 15px;
}

.date-icon-btn {
  background: transparent;
  border: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.date-icon-btn .date-icon {
  color: var(--primary);
  font-size: 14px;
  cursor: pointer;
}

.date-input {
  background: transparent;
  border: none;
  outline: none;
  font-size: 14px;
  font-weight: 500;
  color: var(--dark);
  /* width: 120px; */
  pointer-events: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.date-separator {
  font-size: 14px;
}

/* ===================== FILTER ===================== */
#filter-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 15px;
  background-color: transparent;
  border: none;
  box-shadow: none;
  padding: 0;

  border-radius: 8px;
  max-width: 1100px;
  margin: 20px auto;
}

.filter-group {
  /* 2. Chiều rộng cố định */
  width: 220px;
  flex-shrink: 0;
  position: relative;
}

/* 3. Label ở hàng trên */
.filter-label {
  display: block;
  font-size: 14px;
  font-weight: 600;
  color: var(--dark);
  /* ĐÃ SỬA */
  margin-bottom: 8px;
}

.filter-label i {
  color: var(--muted);
  font-size: 12px;
  margin-right: 4px;
}

/* 4. Hàng dưới để chọn */
.filter-display-box {
  display: flex;
  align-items: center;
  justify-content: space-between;

  background-color: var(--second-hover);
  border: 1px solid var(--border);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.04);
  transition: border-color 0.2s, box-shadow 0.2s;
  border-radius: 6px;
  cursor: pointer;
  padding: 0 12px;
  height: 40px;
  box-sizing: border-box;
}

.filter-display-box:hover {
  border-color: var(--primary);
}

.filter-display-text {
  font-size: 14px;
  color: var(--muted);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  min-width: 0;
}

.filter-display-text.has-selection {
  color: var(--dark);
  font-weight: 500;
}

/* Mũi tên */
.filter-display-box::after {
  content: '\f078';
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
  font-size: 12px;
  color: var(--muted);
  /* ĐÃ SỬA */
  margin-left: 10px;
  transition: transform 0.2s;
}

.filter-group.open .filter-display-box::after {
  transform: rotate(180deg);
}

.filter-dropdown {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: var(--white);
  /* ĐÃ SỬA */
  border: 1px solid var(--border);
  /* ĐÃ SỬA */
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  margin-top: 5px;
  z-index: 10;
  max-height: 250px;
  overflow-y: auto;
  box-sizing: border-box;
}

.filter-group.open .filter-dropdown {
  display: block;
}

.filter-dropdown-header {
  padding: 10px 12px;
  font-size: 13px;
  font-weight: 500;
  color: var(--dark);
  background-color: var(--section);
}

.filter-dropdown-header hr {
  border: 0;
  border-top: 1px solid var(--border);
  margin-top: 8px;
  margin-bottom: 0;
}

.filter-item {
  display: flex;
  align-items: center;
  padding: 10px 12px;
  font-size: 14px;
  cursor: pointer;
}

.filter-item:hover {
  background-color: var(--bg);
}

.filter-item input[type="checkbox"],
.filter-item input[type="radio"] {
  margin-right: 10px;
  height: 16px;
  width: 16px;
  accent-color: var(--primary);
  /* Giữ nguyên - đã đúng */
}

.filter-item label {
  cursor: pointer;
  flex-grow: 1;
}

/* Làm mờ item khi bị disable (do đạt max) */
.filter-item.disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.filter-item.disabled label {
  cursor: not-allowed;
}

/* Nút Apply Filters */
.btn-apply-filters {
  background-color: var(--primary);
  color: var(--white);
  border: none;
  border-radius: 6px;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
  margin-left: 15px;
  align-self: flex-end;
  transition: background-color 0.2s;
  padding: 0 20px;
  height: 40px;
  box-sizing: border-box;
}

.btn-apply-filters:hover {
  background-color: var(--primary-hover);
}

/* ===================== APP-FOOTER ===================== */
#app-footer {
  text-align: center;
}

#app-footer .footer-inner {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 150px;
  flex-wrap: wrap;
}

#app-footer .footer-left,
#app-footer .footer-right a {
  color: var(--muted);
}

#app-footer .footer-right a {
  transition: color 0.3s ease;
}

#app-footer .footer-right a:hover {
  color: var(--primary-hover);
}

/* ===================== OVERVIEW ===================== */
/* MAIN CONTENT */
.main-content {
  margin-left: 220px;
  padding-bottom: 20px;
}

.container-fluid-dashboard {
  max-width: 100%;
}