/* ===================== NAVBAR OVERLAY ===================== */
.nav-overlay {
    position: fixed;
    width: 100%;
    left: 0;
    right: 0;
    top: 15px;
    z-index: 90;
    pointer-events: none;
}

.nav-overlay .container {
    pointer-events: auto;
}

.nav-inner {
    background: rgba(255, 255, 255, 0.72);
    padding: 5px 18px;
    border-radius: 14px;
    box-shadow: 0 10px 30px rgba(10, 20, 30, 0.08);
    align-items: center;
    backdrop-filter: blur(16px);
    -webkit-backdrop-filter: blur(16px);
    border: 1px solid rgba(255, 255, 255, 0.25);
}

/* Nav left */
.nav-left {
    gap: 4px;
}

.nav-logo {
    width: 50px;
    height: auto;
}

.nav-title {
    font-size: 15px;
    font-weight: 600;
    color: var(--dark);
    letter-spacing: .4px;
}

/* Nav center */
.nav-center .nav-link {
    color: var(--dark);
    text-decoration: none;
    margin: 0 14px;
    display: inline-block;
    padding: 6px 4px;
}

.nav-center .nav-link:hover {
    color: var(--primary);
    text-decoration: none;
}

/* Nav-right */
.btn-signup {
    display: inline-block;
    background: linear-gradient(105deg, #313860 0%, #151928 100%);
    color: #fff;
    padding: 8px 30px;
    border-radius: 24px;
    box-shadow: 0 6px 18px rgba(27, 32, 48, 0.18);
    text-decoration: none;
    font-size: 13px;
    font-weight: bold;
    border: none;

    /* position: relative;
    z-index: 1; */
}

.btn-signup:hover {
    color: var(--white);
    transform: translateY(-2px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* ===================== SIGNIN LAYOUT ===================== */
.signin-container {
    min-height: 100vh;
    display: flex;
}

/* Left */
.left {
    flex: 2;
    display: flex;
    flex-direction: column;
    padding: 170px 0 60px 60px;
}

.form-wrapper {
    width: 100%;
    max-width: 420px;
}

.form-wrapper p {
    color: var(--muted);
}

.title-main {
    color: var(--primary);
    font-weight: 700;
    font-size: 28px;
}

/* Inputs */
.form-control {
    height: 48px;
    border-radius: 10px;
    border: 1px solid var(--border);
    padding: 12px 14px;
    box-shadow: none;
    transition: all 0.3s ease;
}

.form-label {
    color: var(--dark);
}

.form-control::placeholder {
    color: var(--muted);
    opacity: .5;
}

.form-control:focus {
    border-color: var(--primary);
    box-shadow: 0 0 0 3px rgba(56, 178, 172, 0.2);
}

/* Buttons */
.btn-primary {
    background: var(--primary);
    border: none;
    border-radius: 10px;
    height: 40px;
}

.btn-primary:hover {
    background: var(--primary-hover);
}

/* Text-center */
.text-center {
    color: var(--muted);
}

.text-center .link-page {
    color: var(--primary);
}

.text-center .link-page:hover {
    color: var(--primary-hover);
}


/* Divider */
.divider {
    text-align: center;
    position: relative;
    color: #aab3bb;
    margin-top: 6px;
    margin-bottom: 6px;
}

.divider::before,
.divider::after {
    content: "";
    position: absolute;
    top: 50%;
    width: 42%;
    height: 1px;
    background: #e6eef2;
}

.divider::before {
    left: 0;
}

.divider::after {
    right: 0;
}

/* Social button */
.btn-outline-social {
    border: 1px solid var(--border);
    color: var(--dark);
    border-radius: 10px;
    padding: 10px 14px;
    text-decoration: none;
    background-color: #fff;
    transition: all 0.3s ease;
}

.btn-outline-social:hover {
    background-color: var(--primary-hover);
    color: #fff;
    border-color: var(--primary);
    transform: translateY(-2px);
    box-shadow: 0 4px 12px rgba(56, 178, 172, 0.3);
}

.btn-outline-social:hover img {
    filter: brightness(0) invert(1);
    transition: filter 0.3s ease;
}

/* Right banner */
.right {
    flex: 1;
    position: relative;
    overflow: hidden;
    background: var(--primary);
    color: var(--white);
    border-bottom-left-radius: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 1200px;
}

/* Lớp sóng tĩnh thứ nhất */
.right::before {
    content: "";
    position: absolute;
    inset: 0;
    background: url("/assets/images/Wave.png") no-repeat;
    background-size: 1500px auto;
    background-position: center 78%;
    opacity: 1;
    mix-blend-mode: overlay;
}

/* Lớp sóng tĩnh thứ hai */
.right::after {
    content: "";
    position: absolute;
    inset: 0;
    background: url("/assets/images/Wave.png") no-repeat;
    background-size: 1200px auto;
    background-position: 75% 60%;
    opacity: 1;
    mix-blend-mode: overlay;
    transform: rotate(180deg);
}


/* ===================== FOOTER ===================== */
.footer {
    text-align: center;
    margin: 60px 0 20px 0;
}

.footer-inner {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 150px;
    flex-wrap: wrap;
}

.footer-left,
.footer-right a {
    color: var(--muted);
}

.footer-right a {
    transition: color 0.3s ease;
}

.footer-right a:hover {
    color: var(--primary-hover);
}

/* ===================== RESET PWD ===================== */
/* Password Toggle */
.password-toggle-group {
    position: relative;
}

.password-toggle-icon {
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    color: var(--muted);
    z-index: 10;
    padding: 8px 0;
    transition: color 0.2s;
}

.password-toggle-icon:hover {
    color: var(--dark);
}

.password-toggle-group .form-control {
    padding-right: 40px;
}

/* password strength meter  */
#passwordRequirements {
    list-style-type: none;
    padding-left: 0 !important;
}

.strength-bar {
    height: 5px;
    background-color: #eee;
    border-radius: 3px;
    overflow: hidden;
    margin-bottom: 5px;
}

#strengthBar:before {
    content: '';
    display: block;
    height: 100%;
    width: 0;
    transition: width 0.3s ease-in-out, background-color 0.3s;
}

#strengthBar.strength-0:before {
    width: 25%;
    background-color: #dc3545;
}

#strengthBar.strength-1:before {
    width: 50%;
    background-color: #fd7e14;
}

#strengthBar.strength-2:before {
    width: 75%;
    background-color: #ffc107;
}

#strengthBar.strength-3:before {
    width: 100%;
    background-color: #198754;
}

#strengthBar.strength-4:before {
    width: 100%;
    background-color: #0d6efd;
}

.strength-success {
    color: #198754 !important;
    font-weight: bold;
}

.strength-fail {
    color: #dc3545 !important;
}

/* ===================== SIGN-UP ===================== */
.signup-header-banner {
    background: var(--primary);
    height: 350px;
    width: 100%;
    position: relative;
    overflow: hidden;
}

/* Lớp sóng tĩnh thứ nhất */
.signup-header-banner::before {
    content: "";
    position: absolute;
    inset: -300px;
    background: url("/assets/images/Wave.png") no-repeat;
    background-size: 2000px auto;
    background-position: 200% 70%;
    transform: rotate(20deg);
    opacity: 1;
    mix-blend-mode: overlay;
}

.signup-header-banner::after {
    content: "";
    position: absolute;
    inset: -300px;
    background: url("/assets/images/Wave.png") no-repeat;
    background-size: 2200px auto;
    background-position: 10% 20%;
    transform: rotate(15deg);
    opacity: 1;
    mix-blend-mode: overlay;
}

.header-nav-in-banner {
    width: 100%;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}

.nav-in-banner {
    width: 100%;
    position: relative;
    z-index: 1;
}

.nav-in-banner .nav-title {
    color: var(--white);
}

.nav-in-banner .nav-link {
    color: var(--white);
    transition: color 0.2s;
}

.nav-in-banner .nav-link:hover {
    color: #DDDDDD;
}

/* Text center */
.banner-welcome-text {
    color: var(--white);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    max-width: 600px;
}

/* Card form */
.signup-card-container {
    position: absolute;
    top: 250px;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    max-width: 500px;
    padding: 0 15px;
    z-index: 2;
}

.signup-card {
    border-radius: 12px;
    background-color: var(--white);
}

.btn-outline-social-icon {
    width: 48px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--border);
    border-radius: 12px;
    color: var(--dark);
    font-size: 1.2rem;
    transition: all 0.3s ease;
}

.btn-outline-social-icon:hover {
    color: var(--primary-hover);
    border-color: var(--primary-hover);
}

/* Footer */
.footer-signup {
    margin-top: 550px;
}